@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.section1{
    width: 100%;
    background-color: #B5634E;
    position: relative;
}

.banner{
    background-image: url(img/banner.png);
    filter: blur(4px) brightness(.8);
    height: 80vh;
}

.container1{
    position: absolute;
    top: 10vh;
    left: 10vw;
    height: 80vh;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title1{
    font-size: 6vh;
    line-height: 6vh;
    font-weight: 600;
    color: #fff;
    max-width: 330px;
}

.text1{
    font-size: 4vh;
    color: #fff;
    line-height: 3.8vh;
    max-width: 330px;
}

.btn{
    background-color: #FCD980;
    width: 30vh;
    height: 8vh;
    font-size: 2.5vh;
    border-radius: 20px;
    border: none;
    transition: .4s;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover{
    transform: scale(1.04);
}

.btn:active{
    transform: scale(0.97);
}

.catalog{
    color: #fff;
    text-decoration: none;
    font-size: 3vh;
}

.catalog::after{
    content: '→';
    padding-left: 10px;
}



.section2{
    min-height: 80vh;
    background-color: #D8D8D8;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.title2{
    font-size: 5vh;
    line-height: 5vh;
    font-weight: 600;
    color: #000;
    max-width: 620px;
    padding: 30px;
}

.img2{
    background-image: url(img/banner2.png);
    height: 534px;
    max-width: 800px;
    border-radius: 20px;
}

.container21{
    position: relative;
}

.container22{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    width: 60%;
    padding: 10px;
}

.block1{
    max-width: 600px;
    height: auto;
    background-color: #B9B9B9;
    border-radius: 20px;
    padding: 10px;
    grid-column: 1;
    grid-row: 1;
}
.block2{
    max-width: 600px;
    height: auto;
    background-color: #B9B9B9;
    border-radius: 20px;
    padding: 10px;
    grid-column: 2;
    grid-row: 1;
}
.block3{
    grid-row: 2;
    grid-column: span 2;
    max-width: 1210px;
    height: auto;
    background-color: #B9B9B9;
    border-radius: 20px;
    padding: 10px;
    grid-column: span 2;
    grid-row: 2;
}

.title21{
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 2px 10px 10px 10px;
    position: relative;
}

.title211{
    font-size: 3vh;
    color: #fff;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 3px;
    display: flex;
    justify-self: center;
}


.title212{
    font-size: 3vh;
    color: #fff;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 3px;
    display: flex;
    justify-self: center;
}

.title213{
    font-size: 3vh;
    color: #fff;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 3px;
    display: flex;
    justify-self: center;
}

.icon1{
    width: 6vh;
    height: 6vh;
    position: absolute;
    top: 4px;
}

.block1__text{
    color: white;
    font-size: 2.5vh;
    font-weight: 600;
    padding: 20px;
}

.block2__text{
    color: white;
    font-size: 2.5vh;
    font-weight: 600;
    padding: 20px;
}

.block3__text{
    color: white;
    font-size: 3vh;
    font-weight: 600;
    padding: 20px;
}

/* .section3{
    min-height: 80vh;
    background-color: #B5634E;
    background-size: contain;
    background-image: url(img/background.png);
}

.section3::after{
    content: ' ';
} */

.section3 {
    position: relative;
    display: grid;
    min-height: 80vh;
    overflow: hidden; /* Prevent overflow of pseudo-element */
}

.section3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(img/background.png);
    filter: blur(4px); 
    z-index: -1; 
    padding: 100px;
}

.section3__title{
    color: #fff;
    font-size: 6vh;
    font-weight: 600;
    line-height: 6vh;
    position: absolute;
    z-index: 3;
    max-width: 620px;
    padding: 30px;
    display: flex;
    justify-self: end;
}

.bblock{
    height: auto;
    width: auto;
    background-color: #B5634E;
    padding: 2vh;
    z-index: 3;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section3__blocks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-bottom: 3vh;
}

.bIcon{
    background-color: #FCD980;
    width: auto;
    height: auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.bText{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2vh;
}
.bText1{
    color: #fff;
    font-size: 3vh;
    font-weight: 600;
}
.bText2{
    color: #fff;
    font-size: 3vh;
    font-weight: 600;
}
.bText3{
    color: #fff;
    font-size: 3vh;
    font-weight: 600;
}
.bIcon1{
    width: 10vh;
}
.bIcon2{
    width: 10vh;
}
.bIcon3{
    width: 10vh;
}

.section4{
    min-height: 80vh;
    background-color: #D8D8D8;
    padding: 40px;
}

.section4__title{
    font-size: 6vh;
    line-height: 6vh;
    font-weight: 600;
    max-width: 1800px;
    margin-bottom: 40px;
}

.map{
    max-width: 1800px;
    height: 600px;
}
.map iframe{
    width: 100%;
    height: 100%;
}

.form{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.button{
    width: 300px;
    height: 80px;
    border-radius: 30px;
    border: none;
    font-size: 30px;
    background: #FCD980;
    transition: .3s;
}
.button:hover{
    transform: scale(1.05);
}
.button:active{
    transform: scale(0.98);
}

.get{
    max-width: 400px;
    font-size: 30px;
    border-radius: 20px;
    padding: 5px;
    transition: .4s;
    border: 3px #FCD980 solid;
}

.title{
    font-size: 5vh;
    color: #fff;
}

.bx-wrapper {
    width: 100%;
    height: 80vh;
}

.img4{
    max-width: 2400px;
    height: 80vh;
    background-image: url(0.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}

.img41{
    background-image: url(1.jpg);
}

.img42{
    background-image: url(2.jpg);
}

.img43{
    background-image: url(3.jpg);
}

.section5{
    position: relative;
}

.bx-wrapper .bx-controls-direction a {
    opacity: 0;
}
.form1{
    position: relative;
}

.return{
    text-decoration: none;
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 5vh;
}

.return::after{
    content: '↑';
    margin-left: 15px;
}
/* 576px и меньше: Мобильные устройства.
577px – 768px: Портретная ориентация планшетов.
769px – 992px: Альбомная ориентация планшетов, небольшие ноутбуки.
993px – 1200px: Настольные компьютеры. */

@media (max-width:1750px) {
    .section3__title{
        position: static;
    }
}
@media (max-width:1550px) {
    .img2{
        display: none;
    }
}
@media (max-width: 1200px) {
    .container22{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .block1{
        grid-row: 1;
        grid-column: span 2;
        max-width: 1210px;
    }
    .block2{
        grid-row: 2;
        grid-column: span 2;
        max-width: 1210px;
    }
    .block3{
        grid-row: 3;
        grid-column: span 2;
    }
    .block3__text{
        color: white;
        font-size: 2.5vh;
        font-weight: 600;
        padding: 20px;
    }
}
@media (max-width: 750px) {
    .container22{
        width: 100%;
    }
}
